.features {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
    justify-content: space-evenly;


}

.featureSvg {
    height: 200px;
    width: 200px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    justify-content: flex-start;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    overflow: hidden;
}

.features a {
    color: var(--ifm-color-black);
    font-weight: 500;
}

.features a:link {
    text-decoration: none;
    color: var(--ifm-color-black);
}

.features a:active {
    text-decoration: none;
    color: var(--ifm-color-black);
}

.features a:visited {
    text-decoration: none;
    color: var(--ifm-color-black);
}

.features a:hover {
    text-decoration: none;
    color: var(--ifm-color-black);
}

.featureHead {
    background-color: var(--ifm-color-primary);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
}

.featureHeadText {
    color: var(--ifm-color-white);
    font-size: 1.8rem;
    font-weight: 600;
    text-align: left;
    flex-grow: 1;
    margin: 0;
    padding-left: 1rem;
}

.featureText {
    width: 100%;
    text-align: left;
    font-size: 1.1rem;
    margin: 1rem;
    padding-left: 1rem;
}

.featureBody {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    border: 1px solid var(--ifm-color-emphasis-100);
    align-items: center;
    justify-content: center;
}





.logo {
    width: 50px;
    height: 50px;
}

.logoContainer {
    width: 50px;
    height: 50px;
    min-width: 50px;
}
