.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem; /* This adds space between the grid items */
  justify-content: center;
  margin-bottom: 4rem;
}

.projectSvg {
  height: 200px;
  width: 200px;
}

.projects .project {
  box-sizing: border-box;
  background: var(--ifm-card-background-color);
  color: var(--ifm-color-gray-700);
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
  overflow: hidden;
  height: 14rem;
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

[data-theme="dark"] .projects .project {
  background: var(--ifm-card-background-color);
  box-shadow: rgba(99,99,99, 0.07) 0 1px 2px, rgba(99,99,99, 0.07) 0 2px 4px, rgba(99,99,99, 0.07) 0 4px 8px, rgba(99,99,99, 0.07) 0 8px 16px, rgba(99,99,99, 0.07) 0 16px 32px, rgba(99,99,99, 0.07) 0 32px 64px;
}

.projects a {
  color: var(--ifm-color-gray-700);
  font-weight: 500;
  text-decoration: none; /* No need to repeat this for every state */
}


.projects a:link {
  color: var(--ifm-color-gray-700);
}

.projects a:active {
  color: var(--ifm-color-gray-700);
}

.projects a:visited {
  color: var(--ifm-color-gray-700);
}

.projects a:hover {
  color: var(--ifm-color-gray-700);
}

.projectHead {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.projectHeadText {
  font-size: 1.6em; /* Adjusted size */
  font-weight: 600;
  text-align: left;
  flex-grow: 1;
  margin: 0;

}

[data-theme="dark"] .projectHeadText {
  color: var(--ifm-color-white)
}

.projectText {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  margin-top: 1rem;
  height: 5rem;
}

.projectBody {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

[data-theme="dark"] .projectBody {
    color: var(--ifm-color-gray-100)
}

.logo {
  width: 50px;
  height: 50px;
}

.logoContainer {
  width: 50px;
  height: 50px;
  min-width: 50px;
}


.callToAction {
  color: var(--ifm-color-primary);
  flex-grow: 1;
}
