/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: var(--ifm-background-color);
}



@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 10rem;
}

.hero header h1 {
  color: var(--ifm-color-gray-700)
}

[data-theme="dark"] .hero header h1 {
  color: var(--ifm-color-white)
}

.hero header p {
  color: var(--ifm-color-white)
}

.hero__title {
  font-weight: 900;
  color: var(--ifm-color-white)
}

